version: '2'
services:
  redis:
    image: redis
  db:
    image: postgres
    environment:
      POSTGRES_PASSWORD: database
      POSTGRES_USER: database
      POSTGRES_DB: database
      PGDATA: /var/lib/postgresql/data
    volumes:
      - ./db:/var/lib/postgresql/data
  rabbitmq:
    image: rabbitmq:3-management
    hostname: rabbitmq
    environment:
      RABBITMQ_DEFAULT_USER: "rabbitmq"
      RABBITMQ_DEFAULT_PASS: "rabbitmq"
      RABBITMQ_DEFAULT_VHOST: "/"
    ports:
      - "5672:5672"
      - "15672:15672"
  web:
    build: ./web
    ports:
      - "8080:80"
      - "9000:9000"
      - "2376:2376"
    environment:
        SSH_AUTH_SOCK: /tmp/agent.sock
        XDEBUG_CONFIG: idekey=PHPSTORM
    volumes:
      - ../project:/code
      - $SSH_AUTH_SOCK:/tmp/agent.sock
    depends_on:
      - db
      - redis
      - rabbitmq
